In [2]:
import numpy as np
import pandas as pd

<b>Read data from csv</b>

In [57]:
df = pd.read_csv('vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<b>Replace NaNs in Year column</b>

In [58]:
print(f'Number of rows:\t {df.shape[0]}',
      f'\nNaNs count:\t {df.Year.isna().sum()}',
      f'\nYear mean:\t {df.Year.mean()}',
      f'\nYear median:\t {df.Year.median()}',
      f'\nYear mode:\t {df.Year.mode()[0]}')

# replace NaNs in Year column with mode value
df.loc[df.Year.isna(), 'Year'] = df.Year.mode()[0]

print(f'\nStats after NaNs replacement in Year column',
      f'\nNaNs count:\t {df.Year.isna().sum()}',
      f'\nYear mean:\t {df.Year.mean()}',
      f'\nYear median:\t {df.Year.median()}',
      f'\nYear mode:\t {df.Year.mode()[0]}')

# cast Year column to int32 type
df['Year'] = df.Year.astype('int32')

print(f'\nDataframe after casting Year column to int32')

df.head()

Number of rows:	 16598
NaNs count:	 271
Year mean:	 2006.4064433147546
Year median:	 2007.0
Year mode:	 2009.0

Stats after NaNs replacement in Year column
NaNs count:	 0
Year mean:	 2006.448789010724
Year median:	 2007.0
Year mode:	 2009.0

Dataframe after casting Year column to int32

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<b>Describe each column in the dataset</b>

In [70]:
# TODO: add functions for Year column (min, max and other like for qualitative column) and find why max is greater than count
def describe_rank_column(column, description):
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nNA values: \t{column.isna().sum()}',
          f'\nValues count: \t{column.count()}',
          f'\nMin: \t\t{column.min()}',
          f'\nMax: \t\t{column.max()}\n')

def describe_name_column(column, description):
    field_length = column.astype(str).map(len)
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nNA values: \t{column.isna().sum()}',
          f'\nValues count: \t{column.count()}',
          f'\nLongest name: \t{column[field_length.idxmax()]} ({field_length.max()})',
          f'\nLongest name game: https://www.play-asia.com/ds-yamamura-misa-suspense-maiko-kogiku-kisha-katherine-sougi/13/702on0',
          f'\nShortest name: \t{column[field_length.idxmin()]} ({field_length.min()})',
          f'\nShortest name game: https://en.wikipedia.org/wiki/D_(video_game)\n')
    
def describe_quantitative_column(column, description):
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nNA values:   {column.isna().sum()}',
          f'\nVar: \t     {np.nanvar(column)}',
          f'\n{column.describe()}\n')

def describe_qualitative_column(column, description):
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nNA values:  {column.isna().sum()}',
          f'\nValue  count\n{column.value_counts()}\n')
    
describe_rank_column(df.Rank, 'Game position in ranking based on global sales')

describe_name_column(df.Name, 'The name of the game')

describe_qualitative_column(df.Platform, 'Platform of the games release (Sega Saturn(SAT), Atari2600(2600),'
                            + ' Dreamcast(DC), Sega Genesis(GEN), Neo Geo(NG), \nSupplemental Computing Device(SCD),'
                            + ' WonderSwan(WS), Panasonic 3DO(3DO), TurboGrafx-16(TG16), NEC PC-FX(PCFX),'
                            + ' \nSega Game Gear(GG) etc.)')
describe_qualitative_column(df.Genre, 'Genre of the game')
describe_qualitative_column(df.Publisher, 'Publisher of the game')

describe_quantitative_column(df.NA_Sales, 'Sales in North America (in millions)')
describe_quantitative_column(df.EU_Sales, 'Sales in Europe (in millions)')
describe_quantitative_column(df.JP_Sales, 'Sales in Japan (in millions)')
describe_quantitative_column(df.Other_Sales, 'Sales in the rest of the world (in millions)')
describe_quantitative_column(df.Global_Sales, 'Total worldwide sales (in millions)')

=== Rank column description ===

Game position in ranking based on global sales

NA values: 	0
Values count: 	16598
Min: 		1
Max: 		16600

=== Name column description ===

The name of the game

NA values: 	0
Values count: 	16598
Longest name: 	DS Yamamura Misa Suspense: Maiko Kogiku - Kisha Katherine - Sougiya Isa Akashi - Koto ni Maru Hana Sanrin: Kyoto Satujin Jinken File (132)
Longest name game: https://www.play-asia.com/ds-yamamura-misa-suspense-maiko-kogiku-kisha-katherine-sougi/13/702on0
Shortest name: 	D (1)
Shortest name game: https://en.wikipedia.org/wiki/D_(video_game)

=== Platform column description ===

Platform of the games release (Sega Saturn(SAT), Atari2600(2600), Dreamcast(DC), Sega Genesis(GEN), Neo Geo(NG),
Supplemental Computing Device(SCD), WonderSwan(WS), Panasonic 3DO(3DO), TurboGrafx-16(TG16), NEC PC-FX(PCFX),
Sega Game Gear(GG) etc.)

NA values:  0
Value  count
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
GB        98
NES       98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

=== Genre column description ===

Genre of the game

NA values:  0
Value  count
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

=== Publisher column description ===

Publisher of the game

NA values:  58
Value  count
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Quest                              1
Glams                              1
Introversion Software              1
Universal Gamex                    1
PM Studios                         1
Name: Publisher, Length: 578, dtype: int64

=== NA_Sales column description ===

Sales in North America (in millions)

NA values:   0
Var: 	     0.6669309865172043
count    16598.000000
mean         0.264667
std          0.816683
min          0.000000
25%          0.000000
50%          0.080000
75%          0.240000
max         41.490000
Name: NA_Sales, dtype: float64

=== EU_Sales column description ===

Sales in Europe (in millions)

NA values:   0
Var: 	     0.2553644807801055
count    16598.000000
mean         0.146652
std          0.505351
min          0.000000
25%          0.000000
50%          0.020000
75%          0.110000
max         29.020000
Name: EU_Sales, dtype: float64

=== JP_Sales column description ===

Sales in Japan (in millions)

NA values:   0
Var: 	     0.09565494160365334
count    16598.000000
mean         0.077782
std          0.309291
min          0.000000
25%          0.000000
50%          0.000000
75%          0.040000
max         10.220000
Name: JP_Sales, dtype: float64

=== Other_Sales column description ===

Sales in the rest of the world (in millions)

NA values:   0
Var: 	     0.035563442949840686
count    16598.000000
mean         0.048063
std          0.188588
min          0.000000
25%          0.000000
50%          0.010000
75%          0.040000
max         10.570000
Name: Other_Sales, dtype: float64

=== Global_Sales column description ===

Total worldwide sales (in millions)

NA values:   0
Var: 	     2.417966193459794
count    16598.000000
mean         0.537441
std          1.555028
min          0.010000
25%          0.060000
50%          0.170000
75%          0.470000
max         82.740000
Name: Global_Sales, dtype: float64