In [11]:
# TODO: add statement for inline matplotlib plots and specify matplotlib module in import statement
import numpy as np
import pandas as pd
import matplotlib as plt

<b>Read data from csv</b>

In [2]:
df = pd.read_csv('vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<b>Replace NaNs in Year column</b>

In [3]:
print(f'Number of rows:\t {df.shape[0]}',
      f'\nNaNs count:\t {df.Year.isna().sum()}',
      f'\nYear mean:\t {df.Year.mean()}',
      f'\nYear median:\t {df.Year.median()}',
      f'\nYear mode:\t {df.Year.mode()[0]}')

# replace NaNs in Year column with mode value
df.loc[df.Year.isna(), 'Year'] = df.Year.mode()[0]

print(f'\nStats after NaNs replacement in Year column',
      f'\nNaNs count:\t {df.Year.isna().sum()}',
      f'\nYear mean:\t {df.Year.mean()}',
      f'\nYear median:\t {df.Year.median()}',
      f'\nYear mode:\t {df.Year.mode()[0]}')

# cast Year column to int32 type
df['Year'] = df.Year.astype('int32')

print(f'\nDataframe after casting Year column to int32')

df.head()

Number of rows:	 16598
NaNs count:	 271
Year mean:	 2006.4064433147546
Year median:	 2007.0
Year mode:	 2009.0

Stats after NaNs replacement in Year column
NaNs count:	 0
Year mean:	 2006.448789010724
Year median:	 2007.0
Year mode:	 2009.0

Dataframe after casting Year column to int32

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<b>Replace NaNs in Publisher column</b>

In [4]:
print(f'NaNs before replacement',
      f'\nNaNs count:\t {df.Publisher.isna().sum()}')

# replace NaNs in Publisher column with 'Other' value
df.loc[df.Publisher.isna(), 'Publisher'] = 'Other'

print(f'\nNaNs after replacement',
      f'\nNaNs count:\t {df.Publisher.isna().sum()}')

NaNs before replacement
NaNs count:	 58

NaNs after replacement
NaNs count:	 0

<b>Describe each column in the dataset</b>

In [6]:
def describe_rank_column(column, description):
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nData type: \t{column.dtype}',
          f'\nNA values: \t{column.isna().sum()}',
          f'\nValues count: \t{column.count()}',
          f'\nMin: \t\t{column.min()}',
          f'\nMax: \t\t{column.max()}',
          f'\nINFO: The 2 missing ranks are caused by the author of the dataset, who dropped them due to incomplete information\n')

def describe_name_column(column, description):
    field_length = column.astype(str).map(len)
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nData type: \t{column.dtype}',
          f'\nNA values: \t{column.isna().sum()}',
          f'\nValues count: \t{column.count()}',
          f'\nLongest name: \t{column[field_length.idxmax()]} ({field_length.max()})',
          f'\nLongest name game: https://www.play-asia.com/ds-yamamura-misa-suspense-maiko-kogiku-kisha-katherine-sougi/13/702on0',
          f'\nShortest name: \t{column[field_length.idxmin()]} ({field_length.min()})',
          f'\nShortest name game: https://en.wikipedia.org/wiki/D_(video_game)\n')
    
def describe_quantitative_column(column, description):
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nData type: \t{column.dtype}',
          f'\nNA values:   {column.isna().sum()}',
          f'\nVar: \t     {np.nanvar(column)}',
          f'\n{column.describe()}\n')

def describe_qualitative_column(column, description):
    print(f'=== {column.name} column description ===',
          f'\n\n{description}',
          f'\n\nData type: \t{column.dtype}',
          f'\nNA values:  {column.isna().sum()}',
          f'\nValue  count\n{column.value_counts()}\n')
    
describe_rank_column(df.Rank, 'Game position in ranking based on global sales')

describe_name_column(df.Name, 'The name of the game')

describe_qualitative_column(df.Platform, 'Platform of the games release (Sega Saturn(SAT), Atari2600(2600),'
                            + ' Dreamcast(DC), Sega Genesis(GEN), Neo Geo(NG), \nSupplemental Computing Device(SCD),'
                            + ' WonderSwan(WS), Panasonic 3DO(3DO), TurboGrafx-16(TG16), NEC PC-FX(PCFX),'
                            + ' \nSega Game Gear(GG) etc.)')
describe_qualitative_column(df.Genre, 'Genre of the game')
describe_qualitative_column(df.Publisher, 'Publisher of the game')

describe_quantitative_column(df.Year, 'Year of the game\'s release')

describe_quantitative_column(df.NA_Sales, 'Sales in North America (in millions)')
describe_quantitative_column(df.EU_Sales, 'Sales in Europe (in millions)')
describe_quantitative_column(df.JP_Sales, 'Sales in Japan (in millions)')
describe_quantitative_column(df.Other_Sales, 'Sales in the rest of the world (in millions)')
describe_quantitative_column(df.Global_Sales, 'Total worldwide sales (in millions)')

=== Rank column description ===

Game position in ranking based on global sales

Data type: 	int64
NA values: 	0
Values count: 	16598
Min: 		1
Max: 		16600
INFO: The 2 missing ranks are caused by the author of the dataset, who dropped them due to incomplete information

=== Name column description ===

The name of the game

Data type: 	object
NA values: 	0
Values count: 	16598
Longest name: 	DS Yamamura Misa Suspense: Maiko Kogiku - Kisha Katherine - Sougiya Isa Akashi - Koto ni Maru Hana Sanrin: Kyoto Satujin Jinken File (132)
Longest name game: https://www.play-asia.com/ds-yamamura-misa-suspense-maiko-kogiku-kisha-katherine-sougi/13/702on0
Shortest name: 	D (1)
Shortest name game: https://en.wikipedia.org/wiki/D_(video_game)

=== Platform column description ===

Platform of the games release (Sega Saturn(SAT), Atari2600(2600), Dreamcast(DC), Sega Genesis(GEN), Neo Geo(NG),
Supplemental Computing Device(SCD), WonderSwan(WS), Panasonic 3DO(3DO), TurboGrafx-16(TG16), NEC PC-FX(PCFX),
Sega Game Gear(GG) etc.)

Data type: 	object
NA values:  0
Value  count
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
GB        98
NES       98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

=== Genre column description ===

Genre of the game

Data type: 	object
NA values:  0
Value  count
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

=== Publisher column description ===

Publisher of the game

Data type: 	object
NA values:  0
Value  count
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Fields                             1
Interchannel-Holon                 1
King Records                       1
Milestone                          1
Naxat Soft                         1
Name: Publisher, Length: 579, dtype: int64

=== Year column description ===

Year of the game's release

Data type: 	int32
NA values:   0
Var: 	     33.52825464869957
count    16598.000000
mean      2006.448789
std          5.790533
min       1980.000000
25%       2003.000000
50%       2007.000000
75%       2010.000000
max       2020.000000
Name: Year, dtype: float64

=== NA_Sales column description ===

Sales in North America (in millions)

Data type: 	float64
NA values:   0
Var: 	     0.6669309865172043
count    16598.000000
mean         0.264667
std          0.816683
min          0.000000
25%          0.000000
50%          0.080000
75%          0.240000
max         41.490000
Name: NA_Sales, dtype: float64

=== EU_Sales column description ===

Sales in Europe (in millions)

Data type: 	float64
NA values:   0
Var: 	     0.2553644807801055
count    16598.000000
mean         0.146652
std          0.505351
min          0.000000
25%          0.000000
50%          0.020000
75%          0.110000
max         29.020000
Name: EU_Sales, dtype: float64

=== JP_Sales column description ===

Sales in Japan (in millions)

Data type: 	float64
NA values:   0
Var: 	     0.09565494160365334
count    16598.000000
mean         0.077782
std          0.309291
min          0.000000
25%          0.000000
50%          0.000000
75%          0.040000
max         10.220000
Name: JP_Sales, dtype: float64

=== Other_Sales column description ===

Sales in the rest of the world (in millions)

Data type: 	float64
NA values:   0
Var: 	     0.035563442949840686
count    16598.000000
mean         0.048063
std          0.188588
min          0.000000
25%          0.000000
50%          0.010000
75%          0.040000
max         10.570000
Name: Other_Sales, dtype: float64

=== Global_Sales column description ===

Total worldwide sales (in millions)

Data type: 	float64
NA values:   0
Var: 	     2.417966193459794
count    16598.000000
mean         0.537441
std          1.555028
min          0.010000
25%          0.060000
50%          0.170000
75%          0.470000
max         82.740000
Name: Global_Sales, dtype: float64

<b>Analyze the data</b>
* do some data mining,
* discover the structure of the data,
* search for sources of interesting conclusions

In [37]:
# create histogram of games' global sales
# create box plots for global sales in each genre

# data about global sales of games in each genre
action_sales = df[df['Genre'] == 'Action']['Global_Sales']
sports_sales = df[df['Genre'] == 'Sports']['Global_Sales']
misc_sales = df[df['Genre'] == 'Misc']['Global_Sales']
role_playing_sales = df[df['Genre'] == 'Role-Playing']['Global_Sales']
shooter_sales = df[df['Genre'] == 'Shooter']['Global_Sales']
adventure_sales = df[df['Genre'] == 'Adventure']['Global_Sales']
racing_sales = df[df['Genre'] == 'Racing']['Global_Sales']
platform_sales = df[df['Genre'] == 'Platform']['Global_Sales']
simulation_sales = df[df['Genre'] == 'Simulation']['Global_Sales']
fighting_sales = df[df['Genre'] == 'Fighting']['Global_Sales']
strategy_sales = df[df['Genre'] == 'Strategy']['Global_Sales']
puzzle_sales = df[df['Genre'] == 'Puzzle']['Global_Sales']

# data for bar plot about global game sales depending on genre
action_total_sales = action_sales.sum()
sports_total_sales = sports_sales.sum()
misc_total_sales = misc_sales.sum()
role_playing_total_sales = role_playing_sales.sum()
shooter_total_sales = shooter_sales.sum()
adventure_total_sales = adventure_sales.sum()
racing_total_sales = racing_sales.sum()
platform_total_sales = platform_sales.sum()
simulation_total_sales = simulation_sales.sum()
fighting_total_sales = fighting_sales.sum()
strategy_total_sales = strategy_sales.sum()
puzzle_total_sales = puzzle_sales.sum()

# create new dataframe for aggregated data
sales_df = pd.DataFrame(index=['action', 'sports', 'misc', 'role-playing', 'shooter', 'adventure', 'racing', 'platform',
                               'simulation', 'fighting', 'strategy', 'puzzle'])

# add data to dataframe
sales_df['Total_Sales'] = [action_total_sales, sports_total_sales, misc_total_sales, role_playing_total_sales,
                           shooter_total_sales, adventure_total_sales, racing_total_sales, platform_total_sales,
                           simulation_total_sales, fighting_total_sales, strategy_total_sales, puzzle_total_sales]

# data for bar plot about number of titles in each genre
action_titles = action_sales.count()
sports_titles = sports_sales.count()
misc_titles = misc_sales.count()
role_playing_titles = role_playing_sales.count()
shooter_titles = shooter_sales.count()
adventure_titles = adventure_sales.count()
racing_titles = racing_sales.count()
platform_titles = platform_sales.count()
simulation_titles = simulation_sales.count()
fighting_titles = fighting_sales.count()
strategy_titles = strategy_sales.count()
puzzle_titles = puzzle_sales.count()

# add data to dataframe
sales_df['Num_of_Titles'] = [action_titles, sports_titles, misc_titles, role_playing_titles,
                             shooter_titles, adventure_titles, racing_titles, platform_titles,
                             simulation_titles, fighting_titles, strategy_titles, puzzle_titles]

# add data to dataframe
sales_df['Sales_Mean'] = sales_df['Total_Sales'] / sales_df['Num_of_Titles']

# data for a bar plot about the global game sales divided by a number of released titles in each genre
# action_mean_sales = action_total_sales/action_titles
# sports_mean_sales = sports_total_sales/sports_titles
# misc_mean_sales = misc_total_sales/misc_titles
# role_playing_mean_sales = role_playing_total_sales/role_playing_titles
# shooter_mean_sales = shooter_total_sales/shooter_titles
# adventure_mean_sales = adventure_total_sales/adventure_titles
# racing_mean_sales = racing_total_sales/racing_titles
# platform_mean_sales = platform_total_sales/platform_titles
# simulation_mean_sales = simulation_total_sales/simulation_titles
# fighting_mean_sales = fighting_total_sales/fighting_titles
# strategy_mean_sales = strategy_total_sales/strategy_titles
# puzzle_mean_sales = puzzle_total_sales/puzzle_titles

# data for a bar plot about the median of the global game sales in each genre
action_sales_median = action_sales.median()
sports_sales_median = sports_sales.median()
misc_sales_median = misc_sales.median()
role_playing_sales_median = role_playing_sales.median()
shooter_sales_median = shooter_sales.median()
adventure_sales_median = adventure_sales.median()
racing_sales_median = racing_sales.median()
platform_sales_median = platform_sales.median()
simulation_sales_median = simulation_sales.median()
fighting_sales_median = fighting_sales.median()
strategy_sales_median = strategy_sales.median()
puzzle_sales_median = puzzle_sales.median()

# add data to dataframe
sales_df['Sales_Median'] = [action_sales_median, sports_sales_median, misc_sales_median, role_playing_sales_median,
                             shooter_sales_median, adventure_sales_median, racing_sales_median, platform_sales_median,
                             simulation_sales_median, fighting_sales_median, strategy_sales_median, puzzle_sales_median]

sales_df

              Total_Sales  Num_of_Titles  Sales_Mean  Sales_Median
action            1751.18           3316    0.528100         0.190
sports            1330.93           2346    0.567319         0.220
misc               809.96           1739    0.465762         0.160
role-playing       927.37           1488    0.623233         0.185
shooter           1037.37           1310    0.791885         0.230
adventure          239.04           1286    0.185879         0.060
racing             732.04           1249    0.586101         0.190
platform           831.37            886    0.938341         0.280
simulation         392.20            867    0.452364         0.160
fighting           448.91            848    0.529375         0.210
strategy           175.12            681    0.257151         0.090
puzzle             244.95            582    0.420876         0.110